:root{
  /* ----- Colors ----- */
  --body-color-light:white;
  --body-color-dark:black;
  --color-grey:grey;
  --color-blush:#FBEAE3;
  --color-levender:#E4DBEA;
  --color-blue:#E0EDFC;
  --color-green:#DFF5F1;
  --color-levender2:#DFF5F1;
  --color-yellow:#F9F6CC;

  /* ----- Fonts ----- */
  --small-body:16px;
  --mid-body:24px;
  --large-body:32px;
  --xlarge-body:55px;
}
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: montserrat, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 200px 50px 200px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.section{
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 330px) and (max-width: 550px){
  .App {
    text-align: center;
    margin: 50px 10px 50px 10px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 650px){
  .App {
    text-align: center;
    margin: 50px 25px 50px 25px;
  }
}
@media only screen and (min-width: 651px) and (max-width: 750px){
  .App {
    text-align: center;
    margin: 50px;
  }
}
@media only screen and (min-width: 751px) and (max-width: 1200px){
  .App {
    text-align: center;
    margin: 60px;
  }
}
