hr{
    display: block;
    margin: 5px auto 20px auto;
    border-style: wave;
    border-width: 1px;
    width: 1150px;
}
.footer {
    /*position: fixed;*/
    /*left: 0;*/
    font-family: montserrat, sans-serif;
    bottom: 0;
    width: 100%;
    text-align: center;
    /*background: var(--body-color-dark);*/
    color: var(--body-color-dark);
    padding: 20px 10px 20px 10px;
}