.navbar{
  display: flex;
  position: fixed;
  height: 10vh;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  margin-bottom: 100px !important;
  background: white;
}
.navbar-container.active{
  box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  width: 100%;
  background: var(--body-color-light);
}
.navbar-menu{
  display: flex;
  align-items: center;
}
.navbar-link{
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: .5rem;
  color: var(--body-color-dark);
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  margin: 2px;
  font-weight: 400;
}
.navbar-link::after{
  content:"";
  width: 0;
  height: 2px;
  background: #C1E1C1;
  display: block;
  margin: auto;
}
.navbar-link:hover::after{
  width: 100%;
  transition: 0.5s;
}
.resume{
  border-radius: 25px;
  background: #C1E1C1;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.25);
}
.logo{
  color: black;
}
.social-i{
  font-size: 25px;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
}
.mobile-menu-icon{
  display: none;
}

@media only screen and (min-width: 330px) and (max-width: 950px){
  .navbar{
    height: 10vh;
  }
  .navbar-container{
  }
  .navbar.active{
    box-shadow: none;
  }
  .navbar-menu{
    display: none;
  }
  .navbar-link{
    margin-right: 155px;
    margin-left: 155px;
  }
  .logo{
    display: flex;
    position: absolute;
    top: 18px;
    left: 15px;
    white-space: nowrap;
    justify-content: center;
    align-content: center;
  }
  .navbar-menu-mobile{
    position: absolute;
    display: block;
    left: 0;
    top: 55px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background: white;
  }
  .mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
    top: 30px;
    right: 35px;
  }
}



//.side-bar{
//  background: var(--background-color-light);
//  width: 65px;
//  height: 300px;
//  position: fixed;
//  margin-top: 150px;
//  left: 0;
//}
//.social{
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//}
//.social-container{
//  display: flex;
//  margin: 12px;
//  width: 45px;
//  height: 45px;
//  align-items: center;
//  justify-content: center;
//  border-radius: 10px;
//  //box-shadow: 0 2px 2px rgba(0,0,0,0.1);
//  backdrop-filter: blur(2px);
//  transition: 0.5s;
//  //background:  #F8C8DC;
//  background: #d4e1ec;
//  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
//}
//.social-container:hover{
//  transform: scale(0.8) rotate(-15deg);
//}
//.social_icon{
//  color: var(--text-color-light);
//  font-size: 20px;
//}
//.social_icon:hover{
//  transform: scale(0.8) rotate(-1deg);
//}