.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    position: relative;
    padding: 32px;
    width: 500px;
    height: 400px;
    background: white;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 25px;
}
.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 30px;
    border: none;
    outline: none;
    background: none;
    color: red;
    border-radius: 25px;
    padding: 2px 10px 2px 10px;
}
.skill-level-header img{
    width: 50px;
    height: 50px;
}
.skill-level{
    font-size: 24px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
}
.skill-level-shape{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.level-one, .level-two, .level-three, .level-four{
    height: 50px;
    width: 100px;
    margin-right: 10px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}
.advanced-one, .advanced-two, .advanced-three{
    background: #C1E1C1;
}
.intermediate-one, .intermediate-two{
    background: #C1E1C1;
}
.level-one{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.level-four{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.skill-level-subheading{
    font-size: 18px;
    text-align: left;
    margin: 25px 25px 10px 25px;
    line-height: 26px;
}
.relevant-work{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-left: 25px;
    line-height: 26px;
}
.relevant-work-list{
    text-align: left;
    font-size: 16px;
    list-style-type: disc;
    margin-left: 55px;
}

li{
    display: list-item;
}
.relevant-work-list a{
    margin-bottom: 5px;
    text-align: left;
}
@media only screen and (min-width: 300px) and (max-width: 550px){
    .popup-inner{
        padding: 15px 5px 5px 5px;
        min-width: 280px;
        max-width: 350px;
        height: 400px;
    }
    .skill-level-header img{
        width: 45px;
        height: 45px;
    }
    .skill-level{
        font-size: 20px;
    }
    .level-one, .level-two, .level-three, .level-four{
        height: 30px;
        width: 70px;
        margin-right: 5px;
    }
    .skill-level-subheading{
        font-size: 16px;
        margin: 25px 25px 10px 25px;
        line-height: 24px;
    }
    .relevant-work{
        font-size: 18px;
        line-height: 1.8rem;
        margin-left: 24px;
    }
    .relevant-work-list{
        margin-left: 45px;
    }
    .relevant-work-list a{
        margin-bottom: 5px;
        text-align: left;
    }
}